.calc-screen-wrapper {
    display: flex;
    flex-direction: column;
}

.calc-screen-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: auto;
    padding: 2rem;
    font-size: 2rem;
}

.number-output {
    margin-top: auto;
}

.calc-screen-top-container {
    display: flex;
    margin: 0 0.4rem;
}

.top-screen-output {
    margin-left: auto;
}